body {
    background-image: url("background_app.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
}


/*cor dos botoes*/

.btn-custom {
    background-color: #008B8B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}



button {
    background-color: unset !important;
}

/*flex telas*/

/* Responsividade para a tabela */
@media (min-width: 768px) {
    .ag-theme-alpine {
        height: 60vh;  /* Ajuste conforme o seu layout */
    }
}

@media (max-width: 767px) {
    .ag-theme-alpine {
        height: auto;  /* Para dispositivos móveis, a altura se ajusta ao conteúdo */
    }
}





